<div id='Footer-container'>
  <ul id="Footer-navigation-ul">
    <li class="Footer-navigation-li" onclick="window.location.href='/'">Home</li>
    <li class="Footer-navigation-li" onclick="window.location.href='/standings'">Standings</li>
    <li class="Footer-navigation-li" onclick="window.location.href='/stats'">Stats</li>
    <li class="Footer-navigation-li" onclick="window.location.href='/about'">About Us</li>
    <li class="Footer-navigation-li"><a href="https://getpryde.com/focus/" target="_blank">Store</a></li>
  </ul>
  <ul id="Footer-social-media-ul">
    <li class="Footer-social-media-li"><a href="https://discord.gg/QFJgFnk" target="_blank"><%= image_tag "social_icons/discord_purple.png" %></a></li>
    <li class="Footer-social-media-li"><a href="https://www.twitch.tv/focus_esports_lol" target="_blank"><%= image_tag "social_icons/twitch_purple.png" %></a></li>
    <li class="Footer-social-media-li"><a href="https://www.youtube.com/channel/UC58W3Ws2JTP-xUMLVQ0jsUQ" target="_blank"><%= image_tag "social_icons/youtube_purple.png" %></a></li>
    <li class="Footer-social-media-li"><a href="https://twitter.com/FocusEsportsLoL" target="_blank"><%= image_tag "social_icons/twitter_purple.png" %></a></li>
    <li class="Footer-social-media-li"><a href="https://focusesportsblog.wordpress.com/" target="_blank"><%= image_tag "social_icons/wordpress_purple.png" %></a></li>
  </ul>
  <span id='Footer-copyright'>Copyright © 2020 Focus Esports, LLC. All rights reserved</span>
</div>
